.fondo-titulo {
  background-color: orange;
  text-align: center;
  width: 100%;
  color: black;
  left: 0%;
  word-spacing: 3px;
}

.fondo-sucursales {
  background-color: orange;
  text-align: left;
  padding: 1px;
  width: 100%;
  color: black;
}
.titulo-sucursales {
  text-align: center;
  padding: 5px;
  width: 100%;
  left: 0%;
}

.titulo-naranja-sucursal {
  background-color: orange;
  text-decoration: none;
  bottom: 0px;
  
}
.titulo-receta {
  text-align: center;
}
a {
  text-decoration: none;
}
p {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0%x;
  background-color: orange;
  background-size: auto;
}

.imagen-curva {
  border-radius: 10%;
}
  padding: 2px;
  background-color: orange;
  
}

.imagen-curva {
 
  border-radius: 10%;
  text-align: center;
}

